@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  font-family: JetBrains Mono, Helvetica;
  font-size: 16px;
  line-height: 1.5;
  background-color: #000000;
  color: #ffffff;
  margin: 80px auto 40px auto;
  width: 1120px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


h1, nav, footer {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 0 0;  
}

a {
  color: #ffffff;
  margin: 0 0 0 32px;
  text-decoration: none;  
  transition: color .5s;
}

a:hover, a.selected {
  color: #999999;
  text-decoration: none;  
}

img, video {
  width: 100%;    
  object-fit: contain;
}

section {
  margin: 80px 0 80px 0;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px 32px;
  grid-auto-flow: dense;
}

section h1 {
  grid-column: 2 / span 10;
}

section.project div.artwork {   
  grid-column: 1 / span 8;
}

section.project div.description {
  grid-column: 9 / span 4;
}

section.project-alt div.artwork {   
  grid-column: 5 / span 8;
}
  
section.project-alt div.description {
  grid-column: 1 / span 4;
}

section.about div.portrait {
  grid-column: 1 / span 6;
}

section.about div.cv {
  grid-column: 7 / span 6;
}

section.contact div.form {
  grid-column: 4 / span 6;
}

section.project img {
    max-height: 640px;
}


footer a {
  margin: 0 0 0 0;
}

@media (max-width: 1248px) { /* fixed width + 2*margin */
  body {
    width: auto;
    margin: 80px 64px 40px 64px;
  }

  h1, nav, footer {
    font-size: 24px;
  }
}

@media (max-width: 920px) {
  header {
      flex-direction: column;
  }
  nav {
    margin: 16px 0 0 0;
  }
  header a {
    margin: 0 16px 0 16px;
  }
}

@media (max-width: 660px) {

  section {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px 24px;
    margin: 64px 0 64px 0;
  }
  section h1, section.project div.artwork, 
  section.project div.description, section.project-alt div.artwork,
  section.project-alt div.description,
  section.about div.portrait, section.about div.cv,
  section.contact div.form {
    grid-column: 1 / span 4;
  }
}

@media (max-width: 500px) {
  body {
    margin: 24px 24px 24px 24px;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }  
}

.gradient {
  background: linear-gradient(to bottom right, blue, pink);
}